.big-text {
  position: absolute;
  color: #DFDEDE;
  //font-family: Coda, sans-serif;
  font-size: 165px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transform: rotate(-90deg);
  left: -330px;
  top: 160px;
  &_info {
    left: -260px;
    top: 90px;
  }
  &_shop {
    left: -300px;
    top: 90px;
  }
}